.Asset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.Input {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Details {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.VouchInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
}

.AssetsList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.AssetsList h3 {
    justify-self: self-start;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}